<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Oops!</title>
</head>
<style>
    div.error {
        margin: 100px 200px;
        border: 1px solid rgb(220, 220, 220);
        border-radius: 10px;
    }

    div.error p {
        margin: 0;
        padding: 15px;
    }

    p.message {
        font-size: 18pt;
        font-weight: bold;
        border-radius: 10px;
        border-bottom: 1px solid rgb(220, 220, 220);
        background: rgb(240, 240, 240);
    }

    p.file {
        font-weight: bold;
    }

    div.trace {
        margin: 10px 40px 40px 40px;
        font-size: 12pt;
        overflow: auto;
    }

    div.trace table {
        border-collapse: collapse;
        width: 100%;
    }

    div.trace th {
        background: rgb(240, 240, 240);
        padding: 7px 10px;
    }

    div.trace th.function,
    div.trace th.file {
        text-align: left;
    }

    div.trace td {
        padding: 7px 5px;
    }

    div.trace td.index {
        text-align: center;
        width: 3em;
    }

    div.trace td.function,
    div.trace td.file {
        padding-left: 1.5em;
    }

    span.class {
        color: #777;
    }
    span.function {
        font-weight: bold;
    }
</style>
<body>

<div class="error">
    <p class="message">{{ message }}</p>

    {% if displayStackTrace == true %}
    <p class="file">File: {{ file }}:{{ line }}</p>
    <div class="trace">
    <table>
        <tr>
            <th class="index">#</th>
            <th class="function">Function</th>
            <th class="file">File</th>
        </tr>
        {% set i = 1 %}
        {% for trace in traces %}
        <tr>
            <td class="index">{{ i }}</td>
            <td class="function"><span class="class">{{ trace['class'] }}</span><span class="function">::{{ trace['function'] }}</span></td>
            <td class="file">{{ trace['file'] }}:{{ trace['line'] }}</td>
        </tr>
        {% set i = i + 1 %}
        {% endfor %}
    </table>
    </div>
    {% endif %}
</div>

</body>
</html>
